<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>454408238871-0koce1hbvjjmks7o11gba36p954rk9dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454408238871-0koce1hbvjjmks7o11gba36p954rk9dm</string>
	<key>API_KEY</key>
	<string>AIzaSyDmOlAW2W9SH-izp60Mi5T7g5jSId3sXYY</string>
	<key>GCM_SENDER_ID</key>
	<string>454408238871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>manhlx.kyber.network</string>
	<key>PROJECT_ID</key>
	<string>kyberswap-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>kyberswap-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454408238871:ios:c646b49a73c72bf7</string>
	<key>DATABASE_URL</key>
	<string>https://kyberswap-ios.firebaseio.com</string>
</dict>
</plist>